<div class="row">
  <div class="col-sm-8 col-offset-2">
    <form [formGroup]="newPostForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label>Contenu</label>
        <textarea class="form-control" formControlName="contents"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="newPostForm.invalid">Sauvegarder</button>
    </form>
  </div>
</div>
